<div class="container">
	<h1 class="welcome" style="color: red; font-size: 70px;">Welcome</h1>
	<div class="row">
	<h2 class="signin">Please sign in</h2>
	
	<div class="row">
		<div class="input-name" data-error="Wrong name">
		<label for="name" class="name">Name:</label>
		<input type="name" required name="email" id="nameid"/>
		<br>
		<small class="error-name">wrong name</small>
		</div>
		<div class="input-email">
		<label for="email" class="email">Email:</label>
		<input type="email" name="email" id="emailid"/>
		<small class="error-email">wrong email</small>
		</div>
		<div class="input-phone">
		<label for="phone" class="phone">Phone:</label>
		<input type="phone" name="phone" id="phoneid"/>
		</div>
		<br>

	</div>
	<button class="btnlogin" type="submit" (click)='handleLogin()'>Log in</button>
	</div>
	<a routerLink="/register">Register</a>
</div>
